@using Microsoft.IdentityModel.Tokens
@{
    ViewBag.Title = "Products";
    Layout = "_Layout";
}
<div>
    <h2>Products</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>Price</th>
                <th>Image Url</th>
                <th>Stock</th>
                <th>Category</th>
                <th>Seller</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Product item in ViewBag.Products)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Name</td>
                    <td>@item.Description</td>
                    <td>@item.Price</td>
                    <td>@(item.ImageUrl.IsNullOrEmpty() ? "No Image Downloaded" : item.ImageUrl)</td>
                    <td>@item.Stock</td>
                    <td>@item.Category.Name</td>
                    <td>@item.Seller.Username</td>
                    
                    <td>
                        <form asp-action="EditProduct" method="get">
                            <input type="hidden" name="Id" value="@item.Id" />
                            <button type="submit" class="btn btn-primary">
                                <i class="fas fa-pencil-alt"></i>
                            </button>
                        </form>
                    </td>
                    <td>
                        <form asp-action="DeleteProduct" method="post">
                            <input type="hidden" name="Id" value="@item.Id" />
                            <button type="submit" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this Product?');">
                                <i class="fas fa-trash"></i>
                            </button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
